In [1]:
import pandas as pd

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.shape

(892, 6)

In [5]:
car.info

<bound method DataFrame.info of                                        name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
887                                      Ta       Tara  zest       3,10,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

     kms_driven fuel_type
0    45,000 kms    Petrol
1        40 kms    Diesel
2    22,000 kms    Petrol
3    28,000 kms    Petrol
4    36,000 kms    Diesel
..          ...       ...
887         NaN       NaN
888  27,000 kms    Diesel
889  40,000 kms    Diesel
890      Petrol       NaN
891      Petrol       NaN

[892 rows x 6 columns]>

In [6]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [7]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [8]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [9]:
'''##quality
-year has many non-year values
-year obj to int
-price has 'ask for price'
-price obj to int
-kms_driven has kms with integers
-kms_driven obj to int
-kms_driven has nan values
-fuel_type has nan values
-keep first 3 words of name'''

"##quality\n-year has many non-year values\n-year obj to int\n-price has 'ask for price'\n-price obj to int\n-kms_driven has kms with integers\n-kms_driven obj to int\n-kms_driven has nan values\n-fuel_type has nan values\n-keep first 3 words of name"

In [10]:
#cleaning of data

In [11]:
backup=car.copy()

In [12]:
car=car[car['year'].str.isnumeric()]

In [13]:
car['year'].astype(int)

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [14]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [15]:
car=car[car['Price']!='Ask For Price']

In [16]:
# Assuming 'Price' is a column in your DataFrame
car['Price'] = car['Price'].str.replace(',', '').astype(int)

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    object
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.6+ KB

In [18]:
car['year']=car['year'].astype(int)

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [20]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [21]:
car[kms_driven'].str.replace(',','')

SyntaxError: unterminated string literal (detected at line 1) (1762555080.py, line 1)

In [22]:
car=car[car['kms_driven'].str.isnumeric()]

In [23]:
car['kms_driven']=car['kms_driven'].astype(int)

In [24]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [25]:
car=car[~car['fuel_type'].isna()]

In [26]:
car['name'].str.split(' ').str.slice(0,3).str.join(' ')

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [27]:
car.reset_index()

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [28]:
car=car.reset_index(drop=True)

In [29]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [30]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [31]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
810,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
811,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [32]:
car.to_csv('cleanedvar.csv')

In [33]:
X=car.drop(columns='Price')
y=car['Price']

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
from sklearn.metrics import r2_score
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [39]:
ohe.categories_

[array(['Audi A3 Cabriolet 40 TFSI',
        'Audi A4 1.8 TFSI Multitronic Premium Plus',
        'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
        'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
        'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
        'BMW 3 Series 320d Sedan', 'BMW 3 Series 320i',
        'BMW 5 Series 520d Sedan', 'BMW 5 Series 530i',
        'BMW 7 Series 740Li Sedan', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d xLine', 'Chevrolet Beat',
        'Chevrolet Beat Diesel', 'Chevrolet Beat LS Diesel',
        'Chevrolet Beat LS Petrol', 'Chevrolet Beat LT Diesel',
        'Chevrolet Beat LT Opt Diesel', 'Chevrolet Beat LT Petrol',
        'Chevrolet Beat PS Diesel', 'Chevrolet Cruze LTZ',
        'Chevrolet Cruze LTZ AT', 'Chevrolet Enjoy',
        'Chevrolet Enjoy 1.4 LS 8 STR', 'Chevrolet Sail 1.2 LS',
        'Chevrolet Sail UVA Petrol LT ABS', 'Chevrolet Spark',
        'Chevrolet Spark 1.0 LT', 'Chevrolet Spark LS 1.0',
        'Chevrolet Spark LT 1.0', 'Chevrolet Spark LT 1.0 Airbag',
        'Chevrolet Tavera LS B3 10 Seats BSII', 'Chevrolet Tavera Neo',
        'Datsun GO T O', 'Datsun Go Plus', 'Datsun Redi GO',
        'Datsun Redi GO S', 'Datsun Redi GO T O',
        'Fiat Linea Emotion 1.4 L T Jet Petrol', 'Fiat Petra ELX 1.2 PS',
        'Fiat Punto Emotion 1.2', 'Force Motors Force One LX ABS 7 STR',
        'Force Motors One SUV', 'Ford EcoSport',
        'Ford EcoSport Ambiente 1.5L TDCi',
        'Ford EcoSport Titanium 1.5 TDCi',
        'Ford EcoSport Titanium 1.5L TDCi',
        'Ford EcoSport Trend 1.5 Ti VCT', 'Ford EcoSport Trend 1.5L TDCi',
        'Ford EcoSport Trend 1.5L Ti VCT',
        'Ford Endeavor 4x4 Thunder Plus', 'Ford Fiesta',
        'Ford Fiesta SXi 1.6 ABS', 'Ford Figo', 'Ford Figo Diesel EXI',
        'Ford Figo Diesel EXI Option',
        'Ford Figo Duratorq Diesel Titanium 1.4', 'Ford Figo Petrol LXI',
        'Ford Figo Petrol Titanium', 'Ford Fusion 1.4 TDCi Diesel',
        'Ford Ikon 1.3 CLXi NXt Finesse', 'Ford Ikon 1.3 Flair Josh 100',
        'Ford Ikon 1.6 Nxt', 'Hindustan Motors Ambassador',
        'Hindustan Motors Ambassador Classic Mark 4 – Befo',
        'Honda Accord', 'Honda Amaze', 'Honda Amaze 1.2 S i VTEC',
        'Honda Amaze 1.2 VX i VTEC', 'Honda Amaze 1.5 E i DTEC',
        'Honda Amaze 1.5 S i DTEC', 'Honda Amaze 1.5 SX i DTEC',
        'Honda Brio', 'Honda Brio V MT', 'Honda Brio VX AT', 'Honda City',
        'Honda City 1.5 E MT', 'Honda City 1.5 EXi New',
        'Honda City 1.5 S Inspire', 'Honda City 1.5 S MT',
        'Honda City 1.5 V AT', 'Honda City 1.5 V MT',
        'Honda City 1.5 V MT Exclusive', 'Honda City SV',
        'Honda City VX O MT Diesel', 'Honda City VX Petrol',
        'Honda City ZX CVT', 'Honda City ZX EXi', 'Honda City ZX GXi',
        'Honda City ZX VTEC', 'Honda Jazz S MT', 'Honda Jazz VX MT',
        'Honda Mobilio', 'Honda Mobilio S i DTEC',
        'Honda WR V S MT Petrol', 'Hyundai Accent',
        'Hyundai Accent Executive Edition', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6 SX',
        'Hyundai Creta 1.6 SX Plus Petrol',
        'Hyundai Creta 1.6 SX Plus Petrol AT', 'Hyundai Elantra 1.8 S',
        'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Elite i20 Asta 1.2', 'Hyundai Elite i20 Asta 1.4 CRDI',
        'Hyundai Elite i20 Magna 1.2', 'Hyundai Elite i20 Sportz 1.2',
        'Hyundai Eon', 'Hyundai Eon D Lite Plus', 'Hyundai Eon Era Plus',
        'Hyundai Eon Magna', 'Hyundai Eon Magna Plus',
        'Hyundai Eon Sportz', 'Hyundai Fluidic Verna 1.6 CRDi SX',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime 1.3 GLX',
        'Hyundai Getz Prime 1.3 GVS', 'Hyundai Grand i10',
        'Hyundai Grand i10 Asta 1.1 CRDi',
        'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
        'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
        'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
        'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
        'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
        'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT', 'Hyundai Santro',
        'Hyundai Santro AE GLS Audio', 'Hyundai Santro Xing',
        'Hyundai Santro Xing GL', 'Hyundai Santro Xing GLS',
        'Hyundai Santro Xing XL AT eRLX Euro III',
        'Hyundai Santro Xing XL eRLX Euro III',
        'Hyundai Santro Xing XO eRLX Euro III', 'Hyundai Santro Xing XS',
        'Hyundai Sonata Transform 2.4 GDi MT', 'Hyundai Verna',
        'Hyundai Verna 1.4 VTVT', 'Hyundai Verna 1.6 CRDI E',
        'Hyundai Verna 1.6 CRDI SX', 'Hyundai Verna 1.6 CRDI SX Plus AT',
        'Hyundai Verna 1.6 EX VTVT', 'Hyundai Verna 1.6 SX VTVT AT',
        'Hyundai Verna Fluidic', 'Hyundai Verna Fluidic 1.6 VTVT SX',
        'Hyundai Verna Fluidic New', 'Hyundai Verna Transform SX VTVT',
        'Hyundai Verna VGT CRDi SX ABS', 'Hyundai Xcent Base 1.1 CRDi',
        'Hyundai Xcent SX 1.2', 'Hyundai i10', 'Hyundai i10 Era',
        'Hyundai i10 Magna 1.2', 'Hyundai i10 Magna 1.2 Kappa2',
        'Hyundai i10 Sportz', 'Hyundai i10 Sportz 1.2', 'Hyundai i20',
        'Hyundai i20 Active', 'Hyundai i20 Active 1.2 SX',
        'Hyundai i20 Active 1.4L SX O', 'Hyundai i20 Asta',
        'Hyundai i20 Asta 1.2', 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
        'Hyundai i20 Magna', 'Hyundai i20 Magna 1.2',
        'Hyundai i20 Magna O 1.2', 'Hyundai i20 Select Variant',
        'Hyundai i20 Sportz 1.2', 'Hyundai i20 Sportz 1.4 CRDI',
        'Jaguar XE XE Portfolio', 'Jaguar XF 2.2 Diesel Luxury',
        'Jeep Wrangler Unlimited 4x4 Diesel', 'Land Rover Freelander 2 SE',
        'Mahindra Bolero DI', 'Mahindra Bolero DI BSII',
        'Mahindra Bolero Power Plus SLE', 'Mahindra Bolero SLE BS IV',
        'Mahindra Jeep CL550 MDI', 'Mahindra Jeep MM 550 XDB',
        'Mahindra KUV100', 'Mahindra KUV100 K8 6 STR',
        'Mahindra KUV100 K8 D 6 STR', 'Mahindra Logan',
        'Mahindra Logan Diesel 1.5 DLS', 'Mahindra Quanto C4',
        'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6 CRDe', 'Mahindra Scorpio 2.6 SLX',
        'Mahindra Scorpio LX BS III', 'Mahindra Scorpio S10',
        'Mahindra Scorpio S10 4WD', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE BS IV', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
        'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
        'Mahindra Scorpio VLX 2WD BS IV',
        'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra Scorpio VLX Airbag',
        'Mahindra Scorpio VLX Special Edition BS III',
        'Mahindra Scorpio Vlx BSIV',
        'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
        'Mahindra TUV300 T4 Plus', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe 4x4 AC', 'Mahindra XUV500',
        'Mahindra XUV500 W10', 'Mahindra XUV500 W6', 'Mahindra XUV500 W8',
        'Mahindra XUV500 W8 AWD 2013', 'Mahindra Xylo D2',
        'Mahindra Xylo D2 BS IV', 'Mahindra Xylo E4', 'Mahindra Xylo E8',
        'Mahindra Xylo E8 BS IV', 'Maruti Suzuki 800',
        'Maruti Suzuki 800 Std BS III', 'Maruti Suzuki A Star Lxi',
        'Maruti Suzuki Alto', 'Maruti Suzuki Alto 800',
        'Maruti Suzuki Alto 800 LXI CNG O', 'Maruti Suzuki Alto 800 Lx',
        'Maruti Suzuki Alto 800 Lxi', 'Maruti Suzuki Alto 800 Vxi',
        'Maruti Suzuki Alto AX', 'Maruti Suzuki Alto K10 LXi CNG',
        'Maruti Suzuki Alto K10 New', 'Maruti Suzuki Alto K10 VXi',
        'Maruti Suzuki Alto K10 VXi AMT', 'Maruti Suzuki Alto K10 VXi AT',
        'Maruti Suzuki Alto LX', 'Maruti Suzuki Alto LXi BS III',
        'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Baleno Delta 1.2',
        'Maruti Suzuki Baleno Sigma 1.2', 'Maruti Suzuki Baleno Zeta 1.2',
        'Maruti Suzuki Celerio VDi', 'Maruti Suzuki Ciaz VXi Plus',
        'Maruti Suzuki Ciaz ZXI Plus', 'Maruti Suzuki Ciaz ZXi Plus RS',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Dzire LDI',
        'Maruti Suzuki Dzire VDI', 'Maruti Suzuki Dzire ZXI',
        'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Eeco 7 STR',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Ertiga LDi',
        'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Ertiga Vxi',
        'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga ZXi',
        'Maruti Suzuki Esteem LXi BS III',
        'Maruti Suzuki Esteem VXi BS III', 'Maruti Suzuki Estilo LX BS IV',
        'Maruti Suzuki Estilo VXi ABS BS IV',
        'Maruti Suzuki Maruti 800 AC', 'Maruti Suzuki Maruti 800 Std',
        'Maruti Suzuki Maruti 800 Std – Befo', 'Maruti Suzuki Omni',
        'Maruti Suzuki Omni 8 STR BS III',
        'Maruti Suzuki Omni E 8 STR BS IV', 'Maruti Suzuki Omni LPG BS IV',
        'Maruti Suzuki Omni Limited Edition',
        'Maruti Suzuki Omni Select Variant', 'Maruti Suzuki Ritz',
        'Maruti Suzuki Ritz GENUS VXI', 'Maruti Suzuki Ritz LDi',
        'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Ritz VXI',
        'Maruti Suzuki Ritz VXI ABS', 'Maruti Suzuki S Cross Sigma 1.3',
        'Maruti Suzuki SX4', 'Maruti Suzuki SX4 Celebration Diesel',
        'Maruti Suzuki SX4 ZXI MT', 'Maruti Suzuki Stingray VXi',
        'Maruti Suzuki Swift', 'Maruti Suzuki Swift Dzire',
        'Maruti Suzuki Swift Dzire Tour LDi',
        'Maruti Suzuki Swift Dzire Tour LXi',
        'Maruti Suzuki Swift Dzire Tour VDi',
        'Maruti Suzuki Swift Dzire Tour VXi',
        'Maruti Suzuki Swift Dzire VDi',
        'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
        'Maruti Suzuki Swift Dzire ZDi', 'Maruti Suzuki Swift GLAM',
        'Maruti Suzuki Swift LDi', 'Maruti Suzuki Swift RS VDI',
        'Maruti Suzuki Swift Select Variant', 'Maruti Suzuki Swift VDi',
        'Maruti Suzuki Swift VDi ABS', 'Maruti Suzuki Swift VDi BS IV',
        'Maruti Suzuki Swift VXI BSIII',
        'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
        'Maruti Suzuki Swift VXi 1.2 BS IV',
        'Maruti Suzuki Swift Vdi BSIII',
        'Maruti Suzuki Swift ZXi 1.2 BS IV',
        'Maruti Suzuki Versa DX2 8 SEATER BSIII',
        'Maruti Suzuki Vitara Brezza', 'Maruti Suzuki Vitara Brezza LDi O',
        'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Wagon R',
        'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Wagon R 1.0 VXi',
        'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Wagon R Duo Lxi',
        'Maruti Suzuki Wagon R LX BS III',
        'Maruti Suzuki Wagon R LX BS IV',
        'Maruti Suzuki Wagon R LXI BS IV',
        'Maruti Suzuki Wagon R LXi BS III',
        'Maruti Suzuki Wagon R Select Variant',
        'Maruti Suzuki Wagon R VXI BS IV',
        'Maruti Suzuki Wagon R VXi BS III',
        'Maruti Suzuki Wagon R VXi Minor', 'Maruti Suzuki Zen Estilo',
        'Maruti Suzuki Zen Estilo LXI Green CNG',
        'Maruti Suzuki Zen LX BSII', 'Maruti Suzuki Zen LXi BS III',
        'Maruti Suzuki Zen LXi BSII', 'Maruti Suzuki Zen VX',
        'Mercedes Benz A Class A 180 Sport Petrol',
        'Mercedes Benz B Class B180 Sports',
        'Mercedes Benz C Class 200 CDI Classic',
        'Mercedes Benz C Class 200 K MT',
        'Mercedes Benz C Class C 220 CDI Avantgarde',
        'Mercedes Benz GLA Class 200 CDI Sport', 'Mini Cooper S',
        'Mini Cooper S 1.6', 'Mitsubishi Lancer 1.8 LXi',
        'Mitsubishi Pajero Sport 2.5 AT',
        'Mitsubishi Pajero Sport Limited Edition', 'Nissan Micra XL',
        'Nissan Micra XV', 'Nissan Sunny', 'Nissan Sunny XL',
        'Nissan Terrano XL D Plus', 'Nissan X Trail Select Variant',
        'Renault Duster', 'Renault Duster 110 PS RxL Diesel',
        'Renault Duster 110 PS RxZ Diesel',
        'Renault Duster 110 PS RxZ Diesel Plus',
        'Renault Duster 110PS Diesel RxZ',
        'Renault Duster 85 PS RxE Diesel',
        'Renault Duster 85 PS RxL Diesel',
        'Renault Duster 85 PS RxL Explore LE',
        'Renault Duster 85PS Diesel RxL Optional with Nav',
        'Renault Duster RxL Petrol', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid 1.0 RXT AMT', 'Renault Kwid RXT',
        'Renault Kwid RXT Opt', 'Renault Lodgy 85 PS RXL',
        'Renault Scala RxL Diesel', 'Renault Scala RxL Diesel Travelogue',
        'Skoda Fabia', 'Skoda Fabia 1.2L Diesel Ambiente',
        'Skoda Fabia 1.2L Diesel Elegance', 'Skoda Fabia Classic 1.2 MPI',
        'Skoda Laura', 'Skoda Octavia Classic 1.9 TDI MT',
        'Skoda Rapid Elegance 1.6 TDI CR MT', 'Skoda Superb 1.8 TFSI AT',
        'Skoda Yeti Ambition 2.0 TDI CR 4x2', 'Tata Aria Pleasure 4X2',
        'Tata Bolt XM Petrol', 'Tata Indica', 'Tata Indica V2',
        'Tata Indica V2 DLE BS III', 'Tata Indica V2 DLG',
        'Tata Indica V2 DLS BS III', 'Tata Indica V2 DLX BS III',
        'Tata Indica V2 LS', 'Tata Indica V2 Xeta e GLE',
        'Tata Indica V2 eLS', 'Tata Indica eV2 LS',
        'Tata Indica eV2 eXeta eGLX', 'Tata Indigo CS',
        'Tata Indigo CS GLS', 'Tata Indigo CS LS DiCOR',
        'Tata Indigo CS eLS BS IV', 'Tata Indigo CS eLX BS IV',
        'Tata Indigo LS', 'Tata Indigo LX TDI BS III',
        'Tata Indigo Marina LS', 'Tata Indigo eCS',
        'Tata Indigo eCS LS CR4 BS IV', 'Tata Indigo eCS LX CR4 BS IV',
        'Tata Indigo eCS LX TDI BS III', 'Tata Indigo eCS VX CR4 BS IV',
        'Tata Manza', 'Tata Manza Aqua Quadrajet',
        'Tata Manza Aura Quadrajet', 'Tata Manza ELAN Quadrajet',
        'Tata Nano', 'Tata Nano Cx BSIV', 'Tata Nano GenX XMA',
        'Tata Nano LX Special Edition', 'Tata Nano Lx BSIV',
        'Tata Sumo Gold EX BS IV', 'Tata Sumo Gold FX BSIII',
        'Tata Sumo Gold LX BS IV', 'Tata Sumo Gold Select Variant',
        'Tata Sumo Grande MKII GX', 'Tata Sumo Victa EX 10 by 7 Str BSIII',
        'Tata Tiago Revotorq XZ', 'Tata Tiago Revotron XM',
        'Tata Tiago Revotron XZ', 'Tata Tigor Revotron XZ',
        'Tata Venture EX 8 STR', 'Tata Vista Quadrajet VX',
        'Tata Zest Quadrajet 1.3', 'Tata Zest XE 75 PS Diesel',
        'Tata Zest XM Diesel', 'Toyota Corolla', 'Toyota Corolla Altis',
        'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
        'Toyota Corolla Altis Diesel D4DG',
        'Toyota Corolla Altis GL Petrol',
        'Toyota Corolla Altis Petrol Ltd',
        'Toyota Corolla Altis VL AT Petrol', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Etios Liva Diesel',
        'Toyota Etios Liva G', 'Toyota Etios Liva GD', 'Toyota Fortuner',
        'Toyota Fortuner 3.0 4x2 MT', 'Toyota Fortuner 3.0 4x4 MT',
        'Toyota Innova 2.0 G 8 STR BS IV', 'Toyota Innova 2.0 G4',
        'Toyota Innova 2.5 E 8 STR', 'Toyota Innova 2.5 E MS 7 STR BS IV',
        'Toyota Innova 2.5 G BS III 8 STR',
        'Toyota Innova 2.5 GX BS IV 7 STR', 'Toyota Innova 2.5 V 7 STR',
        'Toyota Innova 2.5 Z Diesel 7 Seater', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline 1.9 TDI AT',
        'Volkswagen Jetta Highline TDI AT',
        'Volkswagen Passat Diesel Comfortline AT', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline 1.2L P',
        'Volkswagen Polo Highline Exquisite P',
        'Volkswagen Polo Highline1.2L P',
        'Volkswagen Polo Trendline 1.5L D',
        'Volkswagen Vento Comfortline Diesel',
        'Volkswagen Vento Comfortline Petrol',
        'Volkswagen Vento Highline Plus 1.5 Diesel AT',
        'Volkswagen Vento Konekt Diesel Highline', 'Volvo S80 Summum D4'],
       dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [40]:
lr=LinearRegression()

In [41]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [42]:
lr=LinearRegression()

In [54]:
pipe=make_pipeline(column_trans,lr)

In [55]:
pipe.fit(X_train,y_test)

ValueError: Found input variables with inconsistent numbers of samples: [652, 163]

In [56]:
y_pred= pipe.predict(X_test)

In [57]:
y_pred= pipe.predict(X_test)

In [58]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet 40 TFSI',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
       'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
       'BMW 3 Series 320d...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [59]:
y_pred

array([ 1.26829837e+05,  3.70406519e+05,  3.08934326e+05,  7.23658592e+05,
        1.53415287e+05,  1.85934031e+05,  4.36222711e+05,  3.74922148e+05,
        1.91334877e+05,  3.30009872e+05,  3.48717725e+05,  2.44121244e+05,
        3.15299616e+05,  4.89534135e+05,  5.94656169e+05,  5.60822918e+05,
        3.08412696e+05,  3.15785564e+05,  2.68529424e+05,  1.90270387e+05,
        3.01935607e+05,  7.98696555e+04,  3.65164038e+05,  1.38558904e+05,
        1.94502877e+03,  4.38459176e+05,  2.89461408e+05,  4.67228141e+05,
        3.54990381e+05,  1.65186172e+05,  5.30421349e+05,  1.66237754e+05,
        4.78362485e+05,  2.09170556e+05, -4.40490260e+04,  1.54073368e+04,
        5.37428177e+05,  1.01627566e+05,  4.59153443e+05,  6.40868816e+05,
        3.85338255e+05,  1.98847851e+05,  2.88242193e+05,  2.49452008e+05,
        4.30574675e+05,  3.54255631e+05,  1.11992384e+04,  2.94257780e+05,
        3.99066728e+05,  4.65282260e+05,  2.20062204e+06,  2.18633321e+05,
        1.26882556e+05,  2.07630763e+04,  3.50139937e+05,  1.08443262e+06,
        3.53737119e+05,  3.36049703e+05,  7.64104722e+04,  4.62066504e+05,
        3.02894408e+05,  8.41027370e+05,  4.18707561e+04,  3.13607987e+05,
        5.14878147e+05,  2.64391407e+05,  2.83122197e+05,  4.75086077e+05,
        1.33201490e+06,  8.46221284e+04,  3.25483481e+05,  4.90015705e+05,
        6.86506269e+05,  4.14266709e+05,  6.21541838e+05,  2.95738862e+05,
        4.55060101e+05,  4.31992920e+05,  4.46985063e+05,  2.14935766e+05,
       -5.26515686e+04,  4.88211564e+05,  5.85740796e+05,  4.06577970e+05,
        1.30947364e+05,  5.46764424e+05,  5.15928590e+05,  5.51101562e+05,
        4.97957011e+05,  4.70273282e+05,  3.81039556e+05,  4.47297015e+05,
        3.71471496e+05,  5.71618768e+04,  3.70406519e+05,  3.30225792e+05,
        4.08401572e+05,  5.71618768e+04,  1.13643938e+06,  2.06927614e+05,
        3.13554881e+05,  2.99497397e+05,  6.51701234e+04,  1.57883849e+05,
        3.77601239e+05,  1.99302204e+05,  2.00725130e+05,  5.53241369e+05,
        3.07509608e+04,  1.00593455e+05,  3.89060988e+05,  2.79738876e+05,
        2.42899982e+05,  4.26744754e+05,  5.26366493e+05,  1.03789909e+05,
        1.84861713e+05,  2.17262256e+05,  6.13234871e+05,  1.42033371e+06,
        3.31151165e+05,  1.04997991e+06,  3.33613428e+05,  3.55238672e+05,
        4.23351918e+05,  3.91451733e+05,  2.11585265e+05,  2.62505001e+05,
        3.40533825e+05,  4.06876162e+05,  3.39591626e+05,  3.17746923e+05,
        4.36222711e+05,  2.00999222e+05,  2.20050165e+06,  2.80787057e+05,
       -6.46422056e+03,  2.38379806e+05,  4.70977486e+05,  4.07293962e+05,
        2.31357750e+05,  7.42452751e+05, -9.37011387e+04,  5.14053723e+05,
        8.06377264e+05,  2.27666616e+05,  9.39011307e+05,  2.44121244e+05,
        5.65233602e+05,  4.79298538e+05,  3.89595824e+05,  2.71772043e+05,
        4.32904763e+05,  4.09987119e+05,  2.17216560e+05,  8.11616356e+03,
        4.66018197e+05,  3.13971145e+05,  2.80344013e+05,  2.67668294e+04,
        2.40710190e+05,  4.08346283e+05,  4.36853039e+05])

In [60]:
r2_score(y_test,y_pred)

0.5727611941688003

In [61]:
score=[]
for i in range(1000):
 X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
 lr=LinearRegression()
 pipe=make_pipeline(column_trans,lr)
 pipe.fit(X_train,y_train)
 y_pred=pipe.predict(X_test)
 score.append(r2_score(y_test,y_pred))

In [62]:
import numpy as np
np.argmax(score)

433

In [63]:
score[np.argmax(score)]

0.8280458146896859

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(score))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8280458146896859

In [65]:
pip install pickle-mixin

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pickle-mixin in c:\users\r..g\appdata\roaming\python\python311\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [66]:
import pickle

In [67]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [68]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([475579.93066868])